<Project>
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <TargetFramework>net10.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <PackageLocation>bin\Release\net10.0\publish\azure\UserLayer.zip</PackageLocation>
  </PropertyGroup>
</Project>